flows_DESKTOP-DV5AJN4.json
[{"id":"5632f1c0.281198","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"66414d18.a0e4dc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"490a299d.e87b08","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1749f6eb.af5d51","type":"ui_group","z":"","name":"Default","tab":"137928d2.0babe7","order":2,"disp":true,"width":"6","collapse":false},{"id":"75e5ce1e.e882e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0080c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0080c0","edited":true},"page-titlebar-backgroundColor":{"value":"#0080c0","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0daeff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0080c0","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"137928d2.0babe7","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"369f3c6a.37391c","type":"ui_group","z":"","name":"Room 01","tab":"137928d2.0babe7","order":1,"disp":true,"width":"14","collapse":false},{"id":"d1c79bc6.268e8","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":2,"width":4,"height":1},{"id":"4f63980.72c18e8","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":3,"width":4,"height":1},{"id":"ee6aa29.989d46","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":4,"width":4,"height":1},{"id":"caba18c8.8240f","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":5,"width":4,"height":1},{"id":"948b204f.f33a88","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":6,"width":4,"height":1},{"id":"3e598163.5af1be","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":7,"width":4,"height":1},{"id":"5b4bfde.f1ae604","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":8,"width":4,"height":1},{"id":"1b961ade.bfd115","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":9,"width":4,"height":1},{"id":"48829be.4419064","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":10,"width":4,"height":1},{"id":"7a17dd5c.8c6f8c","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":11,"width":4,"height":1},{"id":"96b84a4c.83c648","type":"ui_spacer","name":"spacer","group":"369f3c6a.37391c","order":12,"width":4,"height":1},{"id":"6f643d0e.5c9bec","type":"http in","z":"5632f1c0.281198","name":"","url":"/warning","method":"get","upload":false,"swaggerDoc":"","x":190,"y":180,"wires":[["cc072e51.633f2","7c50cfbb.2b4af"]]},{"id":"cc072e51.633f2","type":"http response","z":"5632f1c0.281198","name":"Sucess","statusCode":"200","headers":{},"x":360,"y":280,"wires":[]},{"id":"7c50cfbb.2b4af","type":"function","z":"5632f1c0.281198","name":"","func":"var log = context.get('log') || \"\";\nlog += \"<tr><td>\"+msg.payload.message+\"</td><td>\"+msg.payload.timestamp+\"</td></tr>\";\ncontext.set('log',log);\nmsg.payload = '<table class=\"table\"><thead><tr><th scope=\"col\">Log</th><th scope=\"col\">Timestamp</th></tr></thead><tbody>'+log+'</tbody></table>';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["4de24a74.a4b844","b845dc5c.bb7f68"]]},{"id":"4de24a74.a4b844","type":"ui_template","z":"5632f1c0.281198","group":"369f3c6a.37391c","name":"","order":1,"width":"14","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":180,"wires":[[]]},{"id":"b845dc5c.bb7f68","type":"debug","z":"5632f1c0.281198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]}]